$font-default: rgba(41, 54, 61, 1);
$font-dark-gray: rgba(90, 106, 114, 1);
$font-light-gray: rgba(103, 120, 128, 1);
$font-white: rgba(244, 245, 245, 1);

$border-light-gray: rgba(103, 120, 128, 1);
$border-warning: rgba(255, 79, 110, 1);
$border-avaliable: rgba(46, 111, 242, 1);

$btn-default: rgba(41, 54, 61, 1);
