@use "./color";
* {
  margin: 0;
  font-family: "Pretendard";
  box-sizing: border-box;
  color: color.$font-default;
}

html {
  font-family: "Pretendard";
}

body {
  font-family: "Pretendard";
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
