@use "../../styles/color";

h1.header {
  font-weight: 700;
  font-size: 24px;
  border-bottom: 2px solid color.$border-warning;
  margin: 30px 0;
  box-shadow: inset 0px -12px 0px rgba(255, 79, 110, 0.2);
}
