@use "../../styles/color";

div.inputCont {
  label.inputLabel {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  input.inputCont {
    border-bottom: 1px solid color.$border-light-gray;
    border-radius: 4px 4px 0 0;
    min-width: 392px;
    padding: 14px 15px;
    margin: 8px 0;
  }

  input.inputCont::placeholder {
    color: color.$font-light-gray;
  }

  input.inputCont:focus {
    border: 1px solid color.$border-light-gray;
    border-radius: 4px;
  }
  div.inputAlert {
    font-size: 12px;
    color: color.$font-light-gray;
  }
}
